# Django
*.log
*.pot
**/__pycache__/

# PyCharm
.idea/

# Postgres
*.sql

# Environment variables
.env

# Virtual environment
.venv/

# Compiled Python files
*.pyc

# Static files collected
/staticfiles/

# Docker
.docker.env
.dockerignore

